.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background: #ff00ff;
    /* Hyper wave magenta for table header */
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #00ffff;
    /* Hyper wave cyan for even rows */
}

.table tr:nth-child(odd) {
    background-color: #ff00ff;
    /* Hyper wave magenta for odd rows */
}