.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background: #8a2be2db;
    /* Cooler blue for table header */
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #7fffd4db;
    /* Cooler aquamarine for even rows */
}

.table tr:nth-child(odd) {
    background-color: #4682b4db;
    /* Cooler steel blue for odd rows */
}