/* Remove map-related styles as they have been moved to Map.css */
/* Remove teams-related styles as they have been moved to Teams.css */

.game-container {
  width: 100vw;
  /* background: #fff; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}